* {
  box-sizing: border-box;
}

body {
  background-color: #353434;
}

.slideshow {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

fieldset {
  max-width: 500px;
  position: relative;
  margin: auto;
  background-color: whitesmoke;
}

.ant,
.prox {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 18px;
  transition: 0.5s ease-in-out;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prox {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.ant:hover,
.prox:hover {
  background-color: grey;
}

.text {
  color: whitesmoke;
  background-color: rgba(0, 0, 0, 0.589);
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.5s ease-in-out;
}


.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  top {
    opacity: 1
  }
}

img {
  width: 100%;
}